{% for office in addresses %}
  <div class="col-md-6" style="padding:0px">
    <div class="card" style="background:#7986CB;color:whitesmoke;min-height:300px;">
      <div class="card-block">
        <h2 class="card-title brand text-center">
          amecr<span class="fa fa-gear" style="color:red"></span>n
        </h2>
        <h4 class="card-sub-title text-center">
          {{ office.office_title}}
        </h4>
        <div class="card-body">
          <address class="text-capitalize text-center">
            {{ office.address }}
          </address>
          <figure class="text-center">
            <span class="fa fa-envelope"></span> {{ office.email }} <br>
            <span class="fa fa-phone"></span> {{ office.telephone }}
          </figure>
          <div class="text-center">
            {% if office.twitter %}
            <a href="{{office.twitter.link}}" class="btn btn-primary btn-icon btn-round">
              <i class="{{office.twitter.icon}}"></i>
            </a>
            {% endif %}
            {% if office.linkedin %}
            <a href="{{office.linkedin.link}}" class="btn btn-primary btn-icon btn-round">
              <i class="{{office.linkedin.icon}}"></i>
            </a>
            {% endif %}
            {% if office.facebook %}
            <a href="{{office.facebook.link}}" class="btn btn-primary btn-icon btn-round">
              <i class="{{office.facebook.icon}}"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="padding:0px">
    <div class="card">
      <div class="map_canvas">
          <img class="img-fluid" src="https://maps.google.com/maps/api/staticmap?center={{office.address}}&size=650x395&zoom=12&markers={{office.address}}&key=AIzaSyCEZ6sw4TbZZSeN82_vxonQpv0CMjFl-9U">
      </div>
    </div>
  </div>
{% endfor %}
