{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}


{% block content_wrapper %}
<div class="wrapper">
  {% block header %}
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true"
         {% image page.hero_image original as hero_image %}
         style="background-image: url( {{ hero_image.url }} );">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title text-capitalize">{{ page.hero_image_caption }}</h1>
        <div class="text-center">
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% endblock header %}
  <div class="container">
      {% block intro %}
    <div class="section section-about-us">
        <div class="intro">
          <div class="col-md-8 ml-auto mr-auto text-left h4">
              {{page.intro|richtext}}
          </div>
        </div>
    </div>
    {% endblock intro %}
    {% block content %}
      {% endblock content %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}

  </div> <!-- /container -->
  {% endblock content_wrapper %}
</div>
