{% extends 'layout.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<div class="section section-service text-center">
  <div class="container">
    <h2 class="title">Our Major Areas of Endeavor</h2>
    <div class="separator separator-primary"></div>
    {% include 'utils/include/preview-card.html' with previews=page.endeavor.all only %}
  </div>
</div>
{% endblock content %}

