{% load wagtailcore_tags wagtailimages_tags static %}

<div class="preview">
  <div class="row">
    {% for preview in previews %}
    <div class="col-md-4">
      <div class="preview-player card">
        {% image preview.image original as image %}
        <img src="{{image.url}}" alt="{{ image.name }}"
             class="card-img-top img-fluid img-raised">
        <div class="card-block">
          <h4 class="title card-title">{{preview.name}}</h4>
          <p class="card-subtitle mb-2 text-muted">
          <button class="btn btn-primary" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
              {{preview.position}}
            </button>
          </p>
          <p class="description collapse card-text" id="collapseExample">
              {{preview.bio}}
          </p>
          {% if preview.twitter %}
          <a href="{{preview.twitter.link}}" class="btn btn-primary btn-icon btn-round">
            <i class="{{preview.twitter.icon}}"></i>
          </a>
          {% endif %}
          {% if preview.linkedin %}
          <a href="{{preview.linkedin.link}}" class="btn btn-primary btn-icon btn-round">
            <i class="{{preview.linkedin.icon}}"></i>
          </a>
          {% endif %}
          {% if preview.facebook %}
          <a href="{{preview.facebook.link}}" class="btn btn-primary btn-icon btn-round">
            <i class="{{preview.facebook.icon}}"></i>
          </a>
          {% endif %}
        </div>
        <div class="card-footer text-muted">
          <a href="{{preview.link}}" class="text-uppercase">more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
