{% load wagtailcore_tags wagtailimages_tags static %}

<div class="section">
  {% for section in sections %}
    <div class="content-center">
      <h1 class="title text-center">{{ section.title }}</h1>
      <div class="text-left">
        {{ section.body|richtext }}
      </div>
    </div>
  {% endfor %}
</div>
