{% extends 'layout.html' %}

{% block intro %}
<section>
  <div class="section">
    <div class="container">
      <div class="card">
        <div class="card-block">
          <h3 class="text-center text-uppercase">your submission was successful!</h3>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock intro %}
