{% extends 'layout.html' %}
{% load wagtailcore_tags wagtailimages_tags static crispy_forms_tags widget_tweaks %}

{% block content %}

<section class="section" style="padding-top:0px">
  <div class="container">

    <form action="{% pageurl page %}" method="POST">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {# form|crispy #}

        <div class="row">
          {% for field in form.visible_fields %}
          <div class="form-group
            {% if forloop.last and not forloop.counter|divisibleby:'2' %}
              col-sm-12
            {% else %}
              col-sm-6
            {% endif %}">
            {# field|add_class:'form-control' #}
            {% render_field field class="form-control" placeholder=field.label %}
          </div>
          {% endfor %}
        </div>

      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      {% include 'contact/include/office-address.html' with addresses=page.office_contact.all only %}
    </div>

  </div>
</section>

{% endblock content %}
